<h1>Articles Tagged with <%= @tag.name %></h1>
<% if logged_in? %>
<p>
	<%= link_to "Delete", tag_path(@tag), method: :delete, data: {confirm: "Really delete this tag?"} %>
	<%= link_to "Back", tags_path %>
</p>
<% end %>
<br/>
<ul>
	<% @tag.articles.each do |article| %>
		<li><%= link_to article.title, article_path(article) %></li>
	<% end %>
</ul>